<!doctype html>
<html lang="<%= currentLocale %>">
    <head>
        <title>express-gettext example</title>
    </head>

    <body>
        <div id="wrapper">
            <nav>
                <ul>
                    <li><a href="?locale=de-DE">German</a></li>
                    <li><a href="?locale=en-US">English</a></li>
                </ul>
            </nav>

            <article>
                <header>
                    <hgroup>
                        <h1><%= gettext('Welcome') %></h1>
                        <h2><%= gettext('This is a translated string') %></h2>
                        <h2><%= gettext('This is a fallback string in default language') %></h2>
                        <h2><%= gettext('This text should is a miss, as theres not translations') %></h2>
                    </hgroup>
                </header>
            </article>
        </div>

    </body>
</html>